<div id="logo">
	<a href="./admin.php">
		<img src="resources/BIS-Logo_w.png" width="100%">
	</a>
</div>

<li><a href="admin.php?action=new_appointment" class="btn btn-warning btn-lg wordbreak" id="neu">
	<span class="glyphicon glyphicon-plus"></span> Neuer Termin
</a></li>

<li><a href="admin.php?action=list_appointments" id ="kalender" class="btn btn-secondary btn-lg wordbreak">
	<span class="glyphicon glyphicon-calendar"></span> Terminkalender
</a></li>

<li><a href="admin.php?action=new_message" class="btn btn-warning btn-lg wordbreak" id="tickerentry">
	<span class="glyphicon glyphicon-plus"></span> Neuer Tickereintrag
</a></li>

<li><a href="admin.php?action=list_messages" class="btn btn-secondary btn-lg wordbreak">
	<span class="glyphicon glyphicon-transfer"></span> Alle Tickereinträge
</a></li>

<li><a href="admin.php?action=new_birthday" class="btn btn-warning btn-lg wordbreak" id="tickerentry">
	<span class="glyphicon glyphicon-plus"></span> Geburtstag eintragen
</a></li>

<li><a href="admin.php?action=list_birthdays" class="btn btn-secondary btn-lg wordbreak">
	<span class="glyphicon glyphicon-transfer"></span> Alle Geburtstage
</a></li>

<li><a href="admin.php?action=upload_picture" class="btn btn-warning btn-lg wordbreak" id="uploadimages">
	<span class="glyphicon glyphicon-plus"></span> Bilder hochladen
</a></li>

<li><a href="admin.php?action=list_pictures" class="btn btn-secondary btn-lg wordbreak">
	<span class="glyphicon glyphicon-picture"></span> Alle Bilder
</a></li>

<li><a href="main_view.php?modus=vorschau" target="_blank" id="preview" class="btn btn-secondary btn-lg wordbreak">
	<span class="glyphicon glyphicon-expand"></span> Vorschau
</a></li>

<a id="about" class="btn-sm btn-link" href="admin.php?action=about">
	Versionsinformation
</a>
